<p>
 <img src="ayiti_analytics.png" alt="Ayiti Analytics"width=400 />
</p>

##                                       Ayiti Analytics Final Project

## **A New Social Life**

* **By: Shelsy DALCIDE**
                                                                                                        July 22, 2020

## Table of contents
* [Introduction: Business Problem](#introduction)
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

## **Project Description:** <a name="introduction"></a>

It is not easy for someone to leave his country of origin to go live elsewhere a young man would like in Chicago IL to rebuild his life 
This project will be useful for people wishing to leave their countries to live in Chicago IL.
He would like to have additional information so quickly regarding districts such as: 
* **The average salary of a person living in Chicago IL**
* **The price of houses their variations**
* **The community zone**
* **The level of security.**

This problem is interesting for him because he will make new experiences, he will have to adapt to this new home which will allow him to learn more about himself. After our Analysis in fact, he will admit his ability to undertake anything, anywhere.
And he will feel at home in an entirely different place.
Becoming aware of his possibilities will make him more determined to succeed.
And discovering different places will help him to think more creatively.

## Data <a name="data"></a>

In this cell we take our various data either by internet or by Excel document.

# Import our library

In [19]:
#import our library
import pandas as pd
import numpy as np
from geopy.geocoders import Nominatim
import time

import json

import requests
from pandas.io.json import json_normalize
from bs4 import BeautifulSoup
from selenium import webdriver

import matplotlib.cm as cm
import matplotlib.colors as colors
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.pipeline import Pipeline
from math import pi

from sklearn.cluster import KMeans
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize
from geopy.geocoders import Nominatim 
import folium

# Our First Web Scrapping for

In [20]:
browser = webdriver.Chrome()

In [21]:
#Breaking down the url in 2 part to be able to insert the page number
url_part_1 = 'http://www.city-data.com/city/Illinois.html'

In [22]:
browser.get(url_part_1)
soup = BeautifulSoup(browser.page_source,'html.parser')
result = soup.find_all(id= 'cityTAB')

In [38]:
len(result)

0

In [17]:
# with a loop we will have our DataFrame
rows = result[0].find_all('tr')
city_name =[]
population =[]
for row in rows:
    tds =row.find_all('td')
    if len(tds) ==3:        
        city_name.append(tds[1].get_text().strip())
        population.append(tds[2].get_text().strip())
df_population =pd.DataFrame(dict(city_name=city_name,population=population))

IndexError: list index out of range

In [ ]:
#let's see the dataset of our population with

In [ ]:
df_population

In [37]:
#here we save the dataset of our city with population
df_population.to_csv(r'Data/populationIL.csv',index=False)

NameError: name 'df_population' is not defined

# Our Second Web Scrapping for the salary of people by cities

In [ ]:
#Breaking down the url of our seconde site in 2 part to be able to insert the page number
url_part_2 = 'https://en.wikipedia.org/wiki/List_of_Illinois_locations_by_per_capita_income'

In [ ]:
browser.get(url_part_2)
soup = BeautifulSoup(browser.page_source,'html.parser')
result2 =soup.find_all('ol')

In [ ]:
lis = result2[0].find_all('li')

In [ ]:
city_income = []
for li in lis:
    print(li.get_text().strip())
    city_income.append(li.get_text().strip().split('-')[0])
    income.append(li.get_text().strip().split('-')[-1])
    
df2 = pd.DataFrame(dict(city_income=city_income))

In [ ]:
#see the dataset
df2.describe()

In [ ]:
#we save the dataset wo's about the wages of people in this city
df2.to_csv(r'Data/City_income.csv',index=False)

## Load our Dataset of The price of Houses of all state in USA

In [25]:
#load our dataset
df_city = pd.read_csv('Data/City_zhvi_uc_sfrcondo_tier_0.67_1.0_sm_sa_mon.csv')

In [26]:
# let's see the dataset
df_city

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,360437.0,359463.0,...,1159081.0,1155710.0,1152952.0,1151860.0,1150843.0,1149625.0,1147147.0,1146988.0,1145703.0,1145768.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,369516.0,369755.0,...,1463186.0,1468688.0,1472616.0,1479035.0,1485192.0,1495670.0,1504868.0,1511249.0,1509761.0,1506431.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,204412.0,204513.0,...,374714.0,375528.0,375687.0,375953.0,375563.0,375973.0,377027.0,378328.0,379188.0,379639.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,253876.0,253589.0,...,463247.0,462900.0,462366.0,461987.0,462121.0,462767.0,463652.0,463953.0,464035.0,464325.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,161869.0,161767.0,...,286581.0,287299.0,288217.0,288262.0,288800.0,288802.0,289417.0,289523.0,289851.0,290157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26814,31730,29449,Gerlach,City,NV,NV,Reno,Washoe County,NaN,NaN,...,354454.0,355034.0,357955.0,359513.0,363635.0,365665.0,367447.0,370827.0,375827.0,380627.0
26815,51148,29449,Broad Top,City,PA,PA,Huntingdon,Huntingdon County,NaN,NaN,...,186038.0,186477.0,186906.0,186853.0,186811.0,186526.0,187059.0,186684.0,186525.0,185683.0
26816,232332,29449,Cool,City,TX,TX,Dallas-Fort Worth-Arlington,Parker County,NaN,NaN,...,393361.0,397951.0,403682.0,410258.0,416727.0,421870.0,423341.0,425056.0,423859.0,421130.0
26817,5133,29449,Hermitage,City,MO,MO,NaN,Hickory County,NaN,NaN,...,159430.0,158711.0,157812.0,157621.0,156958.0,156677.0,156208.0,155720.0,154894.0,154366.0
26818,11693,30967,Great Lakes,City,IL,IL,Chicago-Naperville-Elgin,Cook County,NaN,NaN,...,269889.0,267881.0,266435.0,263386.0,262537.0,262079.0,262129.0,260642.0,260536.0,261278.0

#

In [27]:
df_city.info

<bound method DataFrame.info of        RegionID  SizeRank   RegionName RegionType StateName State  \
0          6181         0     New York       City        NY    NY
1         12447         1  Los Angeles       City        CA    CA
2         39051         2      Houston       City        TX    TX
3         17426         3      Chicago       City        IL    IL
4          6915         4  San Antonio       City        TX    TX
...         ...       ...          ...        ...       ...   ...
26814     31730     29449      Gerlach       City        NV    NV
26815     51148     29449    Broad Top       City        PA    PA
26816    232332     29449         Cool       City        TX    TX
26817      5133     29449    Hermitage       City        MO    MO
26818     11693     30967  Great Lakes       City        IL    IL

                                  Metro          CountyName  1/31/1996  \
0           New York-Newark-Jersey City       Queens County   360437.0
1        Los Angeles-Long Beach-Anaheim  Los Angeles County   369516.0
2      Houston-The Woodlands-Sugar Land       Harris County   204412.0
3              Chicago-Naperville-Elgin         Cook County   253876.0
4             San Antonio-New Braunfels        Bexar County   161869.0
...                                 ...                 ...        ...
26814                              Reno       Washoe County        NaN
26815                        Huntingdon   Huntingdon County        NaN
26816       Dallas-Fort Worth-Arlington       Parker County        NaN
26817                               NaN      Hickory County        NaN
26818          Chicago-Naperville-Elgin         Cook County        NaN

       2/29/1996  ...  9/30/2019  10/31/2019  11/30/2019  12/31/2019  \
0       359463.0  ...  1159081.0   1155710.0   1152952.0   1151860.0
1       369755.0  ...  1463186.0   1468688.0   1472616.0   1479035.0
2       204513.0  ...   374714.0    375528.0    375687.0    375953.0
3       253589.0  ...   463247.0    462900.0    462366.0    461987.0
4       161767.0  ...   286581.0    287299.0    288217.0    288262.0
...          ...  ...        ...         ...         ...         ...
26814        NaN  ...   354454.0    355034.0    357955.0    359513.0
26815        NaN  ...   186038.0    186477.0    186906.0    186853.0
26816        NaN  ...   393361.0    397951.0    403682.0    410258.0
26817        NaN  ...   159430.0    158711.0    157812.0    157621.0
26818        NaN  ...   269889.0    267881.0    266435.0    263386.0

       1/31/2020  2/29/2020  3/31/2020  4/30/2020  5/31/2020  6/30/2020
0      1150843.0  1149625.0  1147147.0  1146988.0  1145703.0  1145768.0
1      1485192.0  1495670.0  1504868.0  1511249.0  1509761.0  1506431.0
2       375563.0   375973.0   377027.0   378328.0   379188.0   379639.0
3       462121.0   462767.0   463652.0   463953.0   464035.0   464325.0
4       288800.0   288802.0   289417.0   289523.0   289851.0   290157.0
...          ...        ...        ...        ...        ...        ...
26814   363635.0   365665.0   367447.0   370827.0   375827.0   380627.0
26815   186811.0   186526.0   187059.0   186684.0   186525.0   185683.0
26816   416727.0   421870.0   423341.0   425056.0   423859.0   421130.0
26817   156958.0   156677.0   156208.0   155720.0   154894.0   154366.0
26818   262537.0   262079.0   262129.0   260642.0   260536.0   261278.0

[26819 rows x 302 columns]>

In [28]:
df_city

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/1996,2/29/1996,...,9/30/2019,10/31/2019,11/30/2019,12/31/2019,1/31/2020,2/29/2020,3/31/2020,4/30/2020,5/31/2020,6/30/2020
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,360437.0,359463.0,...,1159081.0,1155710.0,1152952.0,1151860.0,1150843.0,1149625.0,1147147.0,1146988.0,1145703.0,1145768.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,369516.0,369755.0,...,1463186.0,1468688.0,1472616.0,1479035.0,1485192.0,1495670.0,1504868.0,1511249.0,1509761.0,1506431.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,204412.0,204513.0,...,374714.0,375528.0,375687.0,375953.0,375563.0,375973.0,377027.0,378328.0,379188.0,379639.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,253876.0,253589.0,...,463247.0,462900.0,462366.0,461987.0,462121.0,462767.0,463652.0,463953.0,464035.0,464325.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,161869.0,161767.0,...,286581.0,287299.0,288217.0,288262.0,288800.0,288802.0,289417.0,289523.0,289851.0,290157.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26814,31730,29449,Gerlach,City,NV,NV,Reno,Washoe County,NaN,NaN,...,354454.0,355034.0,357955.0,359513.0,363635.0,365665.0,367447.0,370827.0,375827.0,380627.0
26815,51148,29449,Broad Top,City,PA,PA,Huntingdon,Huntingdon County,NaN,NaN,...,186038.0,186477.0,186906.0,186853.0,186811.0,186526.0,187059.0,186684.0,186525.0,185683.0
26816,232332,29449,Cool,City,TX,TX,Dallas-Fort Worth-Arlington,Parker County,NaN,NaN,...,393361.0,397951.0,403682.0,410258.0,416727.0,421870.0,423341.0,425056.0,423859.0,421130.0
26817,5133,29449,Hermitage,City,MO,MO,NaN,Hickory County,NaN,NaN,...,159430.0,158711.0,157812.0,157621.0,156958.0,156677.0,156208.0,155720.0,154894.0,154366.0
26818,11693,30967,Great Lakes,City,IL,IL,Chicago-Naperville-Elgin,Cook County,NaN,NaN,...,269889.0,267881.0,266435.0,263386.0,262537.0,262079.0,262129.0,260642.0,260536.0,261278.0

In [29]:
df_city.shape

(26819, 302)

In [30]:
df_city.isnull().

0

In [33]:
 df_city[['2/29/1996',]].isna().sum()[0]

15568

In [32]:
null_col = []
for col in df_city.columns:
    if df_city[[col]].isna().sum()[0] > 0:
        null_col.append(col)
        
print('colunms null {}'.format(len(null_col)))

colunms null 269

In [ ]:
df_city.describe()

In [34]:
df_city.columns.values

array(['RegionID', 'SizeRank', 'RegionName', 'RegionType', 'StateName',
       'State', 'Metro', 'CountyName', '1/31/1996', '2/29/1996',
       '3/31/1996', '4/30/1996', '5/31/1996', '6/30/1996', '7/31/1996',
       '8/31/1996', '9/30/1996', '10/31/1996', '11/30/1996', '12/31/1996',
       '1/31/1997', '2/28/1997', '3/31/1997', '4/30/1997', '5/31/1997',
       '6/30/1997', '7/31/1997', '8/31/1997', '9/30/1997', '10/31/1997',
       '11/30/1997', '12/31/1997', '1/31/1998', '2/28/1998', '3/31/1998',
       '4/30/1998', '5/31/1998', '6/30/1998', '7/31/1998', '8/31/1998',
       '9/30/1998', '10/31/1998', '11/30/1998', '12/31/1998', '1/31/1999',
       '2/28/1999', '3/31/1999', '4/30/1999', '5/31/1999', '6/30/1999',
       '7/31/1999', '8/31/1999', '9/30/1999', '10/31/1999', '11/30/1999',
       '12/31/1999', '1/31/2000', '2/29/2000', '3/31/2000', '4/30/2000',
       '5/31/2000', '6/30/2000', '7/31/2000', '8/31/2000', '9/30/2000',
       '10/31/2000', '11/30/2000', '12/31/2000', '1/31/2001', '2/28/2001',
       '3/31/2001', '4/30/2001', '5/31/2001', '6/30/2001', '7/31/2001',
       '8/31/2001', '9/30/2001', '10/31/2001', '11/30/2001', '12/31/2001',
       '1/31/2002', '2/28/2002', '3/31/2002', '4/30/2002', '5/31/2002',
       '6/30/2002', '7/31/2002', '8/31/2002', '9/30/2002', '10/31/2002',
       '11/30/2002', '12/31/2002', '1/31/2003', '2/28/2003', '3/31/2003',
       '4/30/2003', '5/31/2003', '6/30/2003', '7/31/2003', '8/31/2003',
       '9/30/2003', '10/31/2003', '11/30/2003', '12/31/2003', '1/31/2004',
       '2/29/2004', '3/31/2004', '4/30/2004', '5/31/2004', '6/30/2004',
       '7/31/2004', '8/31/2004', '9/30/2004', '10/31/2004', '11/30/2004',
       '12/31/2004', '1/31/2005', '2/28/2005', '3/31/2005', '4/30/2005',
       '5/31/2005', '6/30/2005', '7/31/2005', '8/31/2005', '9/30/2005',
       '10/31/2005', '11/30/2005', '12/31/2005', '1/31/2006', '2/28/2006',
       '3/31/2006', '4/30/2006', '5/31/2006', '6/30/2006', '7/31/2006',
       '8/31/2006', '9/30/2006', '10/31/2006', '11/30/2006', '12/31/2006',
       '1/31/2007', '2/28/2007', '3/31/2007', '4/30/2007', '5/31/2007',
       '6/30/2007', '7/31/2007', '8/31/2007', '9/30/2007', '10/31/2007',
       '11/30/2007', '12/31/2007', '1/31/2008', '2/29/2008', '3/31/2008',
       '4/30/2008', '5/31/2008', '6/30/2008', '7/31/2008', '8/31/2008',
       '9/30/2008', '10/31/2008', '11/30/2008', '12/31/2008', '1/31/2009',
       '2/28/2009', '3/31/2009', '4/30/2009', '5/31/2009', '6/30/2009',
       '7/31/2009', '8/31/2009', '9/30/2009', '10/31/2009', '11/30/2009',
       '12/31/2009', '1/31/2010', '2/28/2010', '3/31/2010', '4/30/2010',
       '5/31/2010', '6/30/2010', '7/31/2010', '8/31/2010', '9/30/2010',
       '10/31/2010', '11/30/2010', '12/31/2010', '1/31/2011', '2/28/2011',
       '3/31/2011', '4/30/2011', '5/31/2011', '6/30/2011', '7/31/2011',
       '8/31/2011', '9/30/2011', '10/31/2011', '11/30/2011', '12/31/2011',
       '1/31/2012', '2/29/2012', '3/31/2012', '4/30/2012', '5/31/2012',
       '6/30/2012', '7/31/2012', '8/31/2012', '9/30/2012', '10/31/2012',
       '11/30/2012', '12/31/2012', '1/31/2013', '2/28/2013', '3/31/2013',
       '4/30/2013', '5/31/2013', '6/30/2013', '7/31/2013', '8/31/2013',
       '9/30/2013', '10/31/2013', '11/30/2013', '12/31/2013', '1/31/2014',
       '2/28/2014', '3/31/2014', '4/30/2014', '5/31/2014', '6/30/2014',
       '7/31/2014', '8/31/2014', '9/30/2014', '10/31/2014', '11/30/2014',
       '12/31/2014', '1/31/2015', '2/28/2015', '3/31/2015', '4/30/2015',
       '5/31/2015', '6/30/2015', '7/31/2015', '8/31/2015', '9/30/2015',
       '10/31/2015', '11/30/2015', '12/31/2015', '1/31/2016', '2/29/2016',
       '3/31/2016', '4/30/2016', '5/31/2016', '6/30/2016', '7/31/2016',
       '8/31/2016', '9/30/2016', '10/31/2016', '11/30/2016', '12/31/2016',
       '1/31/2017', '2/28/2017', '3/31/2017', '4/30/2017', '5/31/2017',
       '6/30/2017', '7/31/2017', '8/31/2017', '9/30/2017', '10/31/2017',
       '11/30/2017', '12/31/2017', '1/31/2018', '2/28/2018', '3/31/2018',
       '4/30/2018', '5/31/2018', '6/30/2018', '7/31/2018', '8/31/2018',
       '9/30/2018', '10/31/2018', '11/30/2018', '12/31/2018', '1/31/2019',
       '2/28/2019', '3/31/2019', '4/30/2019', '5/31/2019', '6/30/2019',
       '7/31/2019', '8/31/2019', '9/30/2019', '10/31/2019', '11/30/2019',
       '12/31/2019', '1/31/2020', '2/29/2020', '3/31/2020', '4/30/2020',
       '5/31/2020', '6/30/2020'], dtype=object)

In [35]:
df_city[['Metro','3/31/1996','4/30/1996', '5/31/1996', '6/30/1996', '7/31/1996',
       '8/31/1996', '9/30/1996', '10/31/1996', '11/30/1996', '12/31/1996',
       '1/31/1997', '2/28/1997', '3/31/1997', '4/30/1997', '5/31/1997',
       '6/30/1997', '7/31/1997', '8/31/1997', '9/30/1997', '10/31/1997',
       '11/30/1997', '12/31/1997', '1/31/1998', '2/28/1998', '3/31/1998',
       '4/30/1998', '5/31/1998', '6/30/1998', '7/31/1998', '8/31/1998',
       '9/30/1998', '10/31/1998', '11/30/1998', '12/31/1998', '1/31/1999',
       '2/28/1999', '3/31/1999', '4/30/1999', '5/31/1999', '6/30/1999',
       '7/31/1999', '8/31/1999', '9/30/1999', '10/31/1999', '11/30/1999',
       '12/31/1999', '1/31/2000', '2/29/2000', '3/31/2000', '4/30/2000',
       '5/31/2000', '6/30/2000', '7/31/2000', '8/31/2000', '9/30/2000',
       '10/31/2000', '11/30/2000', '12/31/2000', '1/31/2001', '2/28/2001',
       '3/31/2001', '4/30/2001', '5/31/2001', '6/30/2001', '7/31/2001',
       '8/31/2001', '9/30/2001', '10/31/2001', '11/30/2001', '12/31/2001',
       '1/31/2002', '2/28/2002', '3/31/2002', '4/30/2002', '5/31/2002',
       '6/30/2002', '7/31/2002', '8/31/2002', '9/30/2002', '10/31/2002',
       '11/30/2002', '12/31/2002', '1/31/2003', '2/28/2003', '3/31/2003',
       '4/30/2003', '5/31/2003', '6/30/2003', '7/31/2003', '8/31/2003',
       '9/30/2003', '10/31/2003', '11/30/2003', '12/31/2003', '1/31/2004',
       '2/29/2004', '3/31/2004', '4/30/2004', '5/31/2004', '6/30/2004',
       '7/31/2004', '8/31/2004', '9/30/2004', '10/31/2004', '11/30/2004',
       '12/31/2004', '1/31/2005', '2/28/2005', '3/31/2005', '4/30/2005',
       '5/31/2005', '6/30/2005', '7/31/2005', '8/31/2005', '9/30/2005',
       '10/31/2005', '11/30/2005', '12/31/2005', '1/31/2006', '2/28/2006',
       '3/31/2006', '4/30/2006', '5/31/2006', '6/30/2006', '7/31/2006',
       '8/31/2006', '9/30/2006', '10/31/2006', '11/30/2006', '12/31/2006',
       '1/31/2007', '2/28/2007', '3/31/2007', '4/30/2007', '5/31/2007',
       '6/30/2007', '7/31/2007', '8/31/2007', '9/30/2007', '10/31/2007',
       '11/30/2007', '12/31/2007', '1/31/2008', '2/29/2008', '3/31/2008',
       '4/30/2008', '5/31/2008', '6/30/2008', '7/31/2008', '8/31/2008',
       '9/30/2008', '10/31/2008', '11/30/2008', '12/31/2008', '1/31/2009',
       '2/28/2009', '3/31/2009', '4/30/2009', '5/31/2009', '6/30/2009',
       '7/31/2009', '8/31/2009', '9/30/2009', '10/31/2009', '11/30/2009',
       '12/31/2009', '1/31/2010', '2/28/2010', '3/31/2010', '4/30/2010',
       '5/31/2010', '6/30/2010', '7/31/2010', '8/31/2010', '9/30/2010',
       '10/31/2010', '11/30/2010', '12/31/2010', '1/31/2011', '2/28/2011',
       '3/31/2011', '4/30/2011', '5/31/2011', '6/30/2011', '7/31/2011',
       '8/31/2011', '9/30/2011', '10/31/2011', '11/30/2011', '12/31/2011',
       '1/31/2012', '2/29/2012', '3/31/2012', '4/30/2012', '5/31/2012',
       '6/30/2012', '7/31/2012', '8/31/2012', '9/30/2012', '10/31/2012',
       '11/30/2012', '12/31/2012', '1/31/2013', '2/28/2013', '3/31/2013',
       '4/30/2013', '5/31/2013', '6/30/2013', '7/31/2013', '8/31/2013',
       '9/30/2013', '10/31/2013', '11/30/2013', '12/31/2013', '1/31/2014',
       '2/28/2014', '3/31/2014', '4/30/2014', '5/31/2014', '6/30/2014',
       '7/31/2014', '8/31/2014', '9/30/2014', '10/31/2014', '11/30/2014',
       '12/31/2014', '1/31/2015', '2/28/2015', '3/31/2015', '4/30/2015',
       '5/31/2015', '6/30/2015', '7/31/2015', '8/31/2015', '9/30/2015',
       '10/31/2015', '11/30/2015', '12/31/2015', '1/31/2016', '2/29/2016',
       '3/31/2016', '4/30/2016', '5/31/2016', '6/30/2016', '7/31/2016',
       '8/31/2016', '9/30/2016', '10/31/2016', '11/30/2016', '12/31/2016',
       '1/31/2017', '2/28/2017', '3/31/2017', '4/30/2017', '5/31/2017',
       '6/30/2017', '7/31/2017', '8/31/2017', '9/30/2017', '10/31/2017',
       '11/30/2017', '12/31/2017', '1/31/2018', '2/28/2018', '3/31/2018',
       '4/30/2018', '5/31/2018', '6/30/2018', '7/31/2018', '8/31/2018',
       '9/30/2018', '10/31/2018', '11/30/2018', '12/31/2018', '1/31/2019',
       '2/28/2019', '3/31/2019', '4/30/2019', '5/31/2019', '6/30/2019',
       '7/31/2019', '8/31/2019', '9/30/2019', '10/31/2019', '11/30/2019',
       '12/31/2019', '1/31/2020', '2/29/2020', '3/31/2020', '4/30/2020',
       '5/31/2020', '6/30/2020']].isnull().sum()

Metro         7181
3/31/1996    15534
4/30/1996    15500
5/31/1996    15423
6/30/1996    15393
             ...
2/29/2020        0
3/31/2020        0
4/30/2020        0
5/31/2020        0
6/30/2020        0
Length: 293, dtype: int64

In [36]:
df_city[['7/31/1996','8/31/1996', '9/30/1996', '10/31/1996', '11/30/1996', '12/31/1996']].isna().sum()

7/31/1996     15363
8/31/1996     15334
9/30/1996     15312
10/31/1996    15290
11/30/1996    15270
12/31/1996    15246
dtype: int64

In [ ]:
df_city.set_index('1/31/1996', '2/29/1996',
       '3/31/1996', '4/30/1996', '5/31/1996', '6/30/1996', '7/31/1996',
       '8/31/1996', '9/30/1996', '10/31/1996', '11/30/1996', '12/31/1996',
       '1/31/1997', '2/28/1997', '3/31/1997', '4/30/1997', '5/31/1997',
       '6/30/1997', '7/31/1997', '8/31/1997', '9/30/1997', '10/31/1997',
       '11/30/1997', '12/31/1997', '1/31/1998', '2/28/1998', '3/31/1998',
       '4/30/1998', '5/31/1998', '6/30/1998', '7/31/1998', '8/31/1998',
       '9/30/1998', '10/31/1998', '11/30/1998', '12/31/1998', '1/31/1999',
       '2/28/1999', '3/31/1999', '4/30/1999', '5/31/1999', '6/30/1999',
       '7/31/1999', '8/31/1999', '9/30/1999', '10/31/1999', '11/30/1999',
       '12/31/1999', '1/31/2000', '2/29/2000', '3/31/2000', '4/30/2000',
       '5/31/2000', '6/30/2000', '7/31/2000', '8/31/2000', '9/30/2000',
       '10/31/2000', '11/30/2000', '12/31/2000', '1/31/2001', '2/28/2001',
       '3/31/2001', '4/30/2001', '5/31/2001', '6/30/2001', '7/31/2001',
       '8/31/2001', '9/30/2001', '10/31/2001', '11/30/2001', '12/31/2001',
       '1/31/2002', '2/28/2002', '3/31/2002', '4/30/2002', '5/31/2002',
       '6/30/2002', '7/31/2002', '8/31/2002', '9/30/2002', '10/31/2002',
       '11/30/2002', '12/31/2002', '1/31/2003', '2/28/2003', '3/31/2003',
       '4/30/2003', '5/31/2003', '6/30/2003', '7/31/2003', '8/31/2003',
       '9/30/2003', '10/31/2003', '11/30/2003', '12/31/2003', '1/31/2004',
       '2/29/2004', '3/31/2004', '4/30/2004', '5/31/2004', '6/30/2004',
       '7/31/2004', '8/31/2004', '9/30/2004', '10/31/2004', '11/30/2004',
       '12/31/2004', '1/31/2005', '2/28/2005', '3/31/2005', '4/30/2005',
       '5/31/2005', '6/30/2005', '7/31/2005', '8/31/2005', '9/30/2005',
       '10/31/2005', '11/30/2005', '12/31/2005', '1/31/2006', '2/28/2006',
       '3/31/2006', '4/30/2006', '5/31/2006', '6/30/2006', '7/31/2006',
       '8/31/2006', '9/30/2006', '10/31/2006', '11/30/2006', '12/31/2006',
       '1/31/2007', '2/28/2007', '3/31/2007', '4/30/2007', '5/31/2007',
       '6/30/2007', '7/31/2007', '8/31/2007', '9/30/2007', '10/31/2007',
       '11/30/2007', '12/31/2007', '1/31/2008', '2/29/2008', '3/31/2008',
       '4/30/2008', '5/31/2008', '6/30/2008', '7/31/2008', '8/31/2008',
       '9/30/2008', '10/31/2008', '11/30/2008', '12/31/2008', '1/31/2009',
       '2/28/2009', '3/31/2009', '4/30/2009', '5/31/2009', '6/30/2009',
       '7/31/2009', '8/31/2009', '9/30/2009', '10/31/2009', '11/30/2009',
       '12/31/2009', '1/31/2010', '2/28/2010', '3/31/2010', '4/30/2010',
       '5/31/2010', '6/30/2010', '7/31/2010', '8/31/2010', '9/30/2010',
       '10/31/2010', '11/30/2010', '12/31/2010', '1/31/2011', '2/28/2011',
       '3/31/2011', '4/30/2011', '5/31/2011', '6/30/2011', '7/31/2011',
       '8/31/2011', '9/30/2011', '10/31/2011', '11/30/2011', '12/31/2011',
       '1/31/2012', '2/29/2012', '3/31/2012', '4/30/2012', '5/31/2012',
       '6/30/2012', '7/31/2012', '8/31/2012', '9/30/2012', '10/31/2012',
       '11/30/2012', '12/31/2012', '1/31/2013', '2/28/2013', '3/31/2013',
       '4/30/2013', '5/31/2013', '6/30/2013', '7/31/2013', '8/31/2013',
       '9/30/2013', '10/31/2013', '11/30/2013', '12/31/2013', '1/31/2014',
       '2/28/2014', '3/31/2014', '4/30/2014', '5/31/2014', '6/30/2014',
       '7/31/2014', '8/31/2014', '9/30/2014', '10/31/2014', '11/30/2014',
       '12/31/2014', '1/31/2015', '2/28/2015', '3/31/2015', '4/30/2015',
       '5/31/2015', '6/30/2015', '7/31/2015', '8/31/2015', '9/30/2015',
       '10/31/2015', '11/30/2015', '12/31/2015', '1/31/2016', '2/29/2016',
       '3/31/2016', '4/30/2016', '5/31/2016', '6/30/2016', '7/31/2016',
       '8/31/2016', '9/30/2016', '10/31/2016', '11/30/2016', '12/31/2016',
       '1/31/2017', '2/28/2017', '3/31/2017', '4/30/2017', '5/31/2017',
       '6/30/2017', '7/31/2017', '8/31/2017', '9/30/2017', '10/31/2017',
       '11/30/2017', '12/31/2017', '1/31/2018', '2/28/2018', '3/31/2018',
       '4/30/2018', '5/31/2018', '6/30/2018', '7/31/2018', '8/31/2018',
       '9/30/2018', '10/31/2018', '11/30/2018', '12/31/2018', '1/31/2019',
       '2/28/2019', '3/31/2019', '4/30/2019', '5/31/2019', '6/30/2019',
       '7/31/2019', '8/31/2019', '9/30/2019', '10/31/2019', '11/30/2019',
       '12/31/2019', '1/31/2020', '2/29/2020', '3/31/2020', '4/30/2020',
       '5/31/2020', '6/30/2020')

In [ ]:
df_city

## Methodology <a name="methodology"></a>


The City of Chicago, is the most populous city in the U.S. state of Illinois, and the third-most-populous city in the United States. With an estimated population of 2,693,976 in 2019, it is also the most populous city in the Midwestern United States.

Our job is to help someone moving to Chicago to find a house in a safe area so that they are comfortable and at an adequate price after getting information about the wages of people living in Chicago. 

* For our work we did the web scrapping to extract data needed for our Analysis. 
* Recommend him what salary he could get living in Chicago depending on the town.
* We would like to have some data found in foursquare so we can see some closer to home such as (church, school, restaurant,     movie theater, super market...)
* We would like to establish a linear regression on the prices of the houses. 
* Make a prediction to see how they'll change in a few years.
* Show him the venues (church, school, restaurant, cinema, supermarket...) near his home via a map. 

Since our dataset contains the house prices per month from 1996 to 2020, we will filter the columns of the last two years from 2018 to 2020.

* Remove missing values.
* Count how many homes sold in each area.
* Count how many homes per month and year.